.clientList{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  border-bottom: 0.5px solid #E8D5E8;
  padding: 6px 0;
}

.clientList:last-child{
  border-bottom: none;
}

.clientName{
  font-weight: bold;
}

.monthList{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.top-services{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  border-bottom: 0.5px solid #E8D5E8;
  padding: 6px 0;
}

.top-services:last-child{
  border-bottom: none;
}

.service-info{
  padding: 8px;
}

.service-revenue{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  border-bottom: 0.5px solid #E8D5E8;
  padding: 6px 0;
}

.service-revenue:last-child{
  border-bottom: none;
}