.header-login{
  background-color: #3D1F4E;
  padding: 3.25rem 1.5rem;
  display:flex;
  flex-direction:column;
  color: #F2D4E8;
  justify-content: space-between;
}

.header-login .race-label{
  font-size: 30px;
}

.header-login h2{
  font-size: 25px;
  
}

.sign-in-container{
  background: #fff;
  border-bottom: 3px solid #3D1F4E;
  max-width: 500px;
  border-radius: 8px;
  margin: 1.5rem auto;
  padding: 1.5rem;
}

.username{
  padding: 1rem 1.5rem 0;
  font-size: 16px;
}

.username input {
  width: 100%;
  height: 44px;
  border: 0.5px solid #B5502E;
  border-radius: 6px;
  padding: 0 12px;
  margin-top:8px;
  font-size: 15px;
  background: #F2EFE6;
  box-sizing: border-box;
  appearance: none;
}

.password{
  padding: 1rem 1.5rem 0;
  font-size: 16px;
}

.password input {
  width: 100%;
  height: 44px;
  margin-top: 8px;
  border: 0.5px solid #B5502E;
  border-radius: 6px;
  padding: 0 12px;
  font-size: 15px;
  background: #F2EFE6;
  box-sizing: border-box;
  appearance: none;
}

.submitBtn{
  display: flex;
  margin: 2.5rem 13rem;
}

.submitBtn button{
  padding:1rem;
  color: white;
  background-color: #3D1F4E;
}

.footer{
  font-family: monospace;
  margin: 1.5rem 10rem;
}
